body{
    /* background-color: #EDEBEB; */
}

.hero-section{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    height: 100vh;
}
.call2action{
    position: absolute;
    width: 300px;
    height: 70px;
    margin-top: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Kodchasan;
    font-size: 32px;
    color: var(--font-color-white);
    background-color: var(--primary-color);
    box-shadow: 0px 4px 51px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}
.leftbox-hs{
    justify-content: center;
    align-items: center;
}
.tagline-hs{
    padding-right: 30% ;
    padding-left: 16%;
    font-family: Lato;
    text-align: center;
    color: var(--font-color);
    margin-top: -12%;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.tagline-hs > span{
    font-weight: bold;
    font-size: 48px;
}
.rightbox-hs{
    /* width: 53%; */
    /* background-color: var(--background-color); */
    background: url(./../assets/images/other/bg-curve.svg);
}
.rightbox-hs > img{
    width: 24.3vw;
}
.logo-hs{
    height: 92.7%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.leftbox-hs, .rightbox-hs{
    width: 50%;
    display: flex;
    justify-content: center;
    /* flex: none; */
}